

<div class="sidebar" data-color="azure" data-background-color="white">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            <img style="width:75px;height:100px" src="../../../assets/img/Logo_PLN.png" />
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" ui-sref="admin-dashboard">
                    <i class="fas fa-users-cog"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="admin-petugas">
                    <i class="fas fa-user-edit"></i>
                    <p>Petugas</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="admin-pelanggan">
                    <i class="fas fa-users"></i>
                    <p>Pelanggan</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="admin-pengaduan">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Pengaduan</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="admin-pemasangan">
                    <i class="fas fa-plus-square"></i>
                    <p>Pemasangan</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="admin-perubahan">
                    <i class="fas fa-pen-nib"></i>
                    <p>Perubahan</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"  style="background-image: url(../../../assets/img/sidebar-1.jpg)"></div>
</div>

<script>
    $(".nav .nav-item").on("click", function () {
        $(".nav").find(".active").removeClass("active");
        $(this).addClass("active");
    });
</script>